@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1469093046'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1469093046#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1469093046') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1469093046') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1469093046#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhanghao:before { content: "\e600"; }
.icon-shouji:before { content: "\e601"; }
.icon-tuijian:before { content: "\e602"; }
.icon-mima:before { content: "\e603"; }
.icon-dianpu:before { content: "\e604"; }
.icon-999:before { content: "\e605"; }
.icon-wancheng:before { content: "\e606"; }
.icon-dianhua00:before { content: "\e607"; }
.icon-shouye:before { content: "\e608"; }
.icon-shangpinguanli:before { content: "\e609"; }
.icon-kucunguanli:before { content: "\e60a"; }
.icon-richangzhichu:before { content: "\e60b"; }
.icon-zhinengfenxi:before { content: "\e60c"; }
.icon-yingxiaogongju:before { content: "\e60d"; }
.icon-xianshangdingdan:before { content: "\e60e"; }
.icon-xitongshezhi:before { content: "\e60f"; }
.icon-huiyuanguanli:before { content: "\e610"; }
.icon-wodedianpuzhuanhuan:before { content: "\e626"; }
.icon-xiaoshoushezhizhuanhuan:before { content: "\e627"; }
.icon-huiyuanpeizhi:before { content: "\e628"; }
.icon-dianpuguanlizhuanhuan:before { content: "\e629"; }
.icon-tiliguanlizhuanhuan:before { content: "\e62a"; }
.icon-9999zhuanhuan:before { content: "\e62b"; }
.icon-dayinpeizhi:before { content: "\e62c"; }
.icon-shujuguanlizhuanhuan:before { content: "\e62d"; }
.icon-yingjianshezhi:before { content: "\e62e"; }
.icon-dianpuguanli:before { content: "\e62f"; }
.icon-fuzhuangdian:before { content: "\e611"; }
.icon-xicankafei:before { content: "\e612"; }
.icon-huazhuangpin:before { content: "\e613"; }
.icon-muyingdian:before { content: "\e614"; }
.icon-wenjudian:before { content: "\e615"; }
.icon-xianhuadian:before { content: "\e616"; }
.icon-shumawenjudian:before { content: "\e617"; }
.icon-wanjudian:before { content: "\e618"; }
.icon-yanjiuchaxing:before { content: "\e619"; }
.icon-chongwuyongpin:before { content: "\e61a"; }
.icon-hongpei:before { content: "\e61b"; }
.icon-shuiguodian:before { content: "\e61c"; }
.icon-xiaoxingchaoshi:before { content: "\e61d"; }
.icon-wujindian:before { content: "\e61e"; }
.icon-meirongmeifa:before { content: "\e61f"; }
.icon-qichemeirong:before { content: "\e620"; }
.icon-xiuxianzuyu:before { content: "\e621"; }
.icon-youlechang:before { content: "\e622"; }
.icon-jiaoyupeixun:before { content: "\e623"; }
.icon-tuinayangsheng:before { content: "\e624"; }
.icon-taiqiuqipai:before { content: "\e625"; }
.icon-shouyin:before { content: "\e630"; }
.icon-xinzenghuiyuan:before { content: "\e631"; }
.icon-richangzhichu1:before { content: "\e632"; }
.icon-xinzengshangpin:before { content: "\e633"; }
.icon-gonggao:before { content: "\e634"; }
.icon-jifenduihuan:before { content: "\e635"; }
.icon-youhuiquan:before { content: "\e636"; }
.icon-faduanxin00:before { content: "\e637"; }
.icon-shujuguanli:before { content: "\e638"; }
.icon-baobiaozhongxin:before { content: "\e639"; }
.icon-fendianguanli:before { content: "\e63a"; }
.icon-quanjushezhi:before { content: "\e63b"; }
.icon-chongzhichongci:before { content: "\e63c"; }
.icon-xiugai:before { content: "\e63d"; }
.icon-shuaxin:before { content: "\e63e"; }
.icon-shaixuan:before { content: "\e63f"; }
.icon-xinzengdafenlei:before { content: "\e642"; }
.icon-zhinengfenxiliebiao:before { content: "\e645"; }
.icon-zhinengfenxituxing:before { content: "\e646"; }
.icon-shanchu:before { content: "\e640"; }
.icon-chongzhichongci002:before { content: "\e641"; }
.icon-xinzengshangpin05:before { content: "\e643"; }
.icon-shuaxin05:before { content: "\e644"; }
.icon-chongzhichongci000:before { content: "\e647"; }
.icon-richangzhichu000:before { content: "\e648"; }
.icon-duanxin000:before { content: "\e649"; }
.icon-youhuiquan000:before { content: "\e64a"; }

/*===attr======*/

.am-attr-allnews{
      padding: 20px;
    background: #ffffff;
    height: 74px;
    margin-bottom: 40px;
}
.am-attr-paddbottom{
    background: #ffffff;
    padding: 26px 160px;
}
.am-attr-paddbottom h1{
      padding: 12px 20px;
    border-radius: 13px;
    background: #FFEAD4;
}
.am-attr-paddbottom ul{ 
     padding: 0px 10px !important;
    margin-top: 20px;
    border-top: 1px solid #CCC !important;}
.am-attr-paddbottom li{
    border-bottom:1px dashed gray !important;padding:15px 0px;
}
.am-attr-paddbottom li:hover{
    background:#f5f5f5; cursor:pointer;
}
.am-attr-paddbottom li:hover span{
    opacity:1; 
}
.am-attr-paddbottom span{
    margin-left:50px; opacity:0;
}
.am-attr-paddbottom time{
    float:right;
}

/*ÏûÏ¢*/
.dropdown .newcount {
    position: absolute;
    top: 12px;
    background: rgba(255, 0, 0, 0.92);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    left: 34px;
}
.am-panel-body input[type=checkbox] {
   width: 18px;
    height: 18px;
}
.am-check input[type=checkbox]{
       width: 15px;
    height: 15px;
    margin-top:10px;
}
.am-div34 div{
     margin:10px 0px;
     text-align:center;
}
.am-pad20{
        padding: 30px;
}
.am-MT-10{
    margin-top:4px;
}
.am-MT-20{
     margin-top:6px;
}
.am-numbercl{
    width: 65px;
    margin: 0px 5px;
}
.am-color-red{
        color: red;
}
.am-btn{
    
        background: #ff6666;
    border: 0px;
    padding: 8px 12px;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 1px;
}
.am-nav-header{
       border-left: 3px solid #3bb4f2;
    padding: 0 1em;
    margin-top: .4em;
    margin-bottom: .4em;
        padding: .4em 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100%;
    color: #555;
}